

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'MULISH';
    src: url("/public/fonts/Mulish-ExtraBoldItalic.ttf")
}


.carArches {
    src: url("/src/images/fountain.webp")
}

.w-2screen {
    width: 200vw;
}
#navbar {
    transition: all 1s;

}

.movein {
    opacity: 100;
    translate: 0px -60px;
    transition: all cubic-bezier(0.215, 0.610, 0.355, 1) 2s;
    transition-delay: 400ms;
}